.likertButton1 {
  background-image: url(./images/button_strongly_disagree.png);
}

.likertButton2 {
  background-image: url(./images/button_disagree.png);
}

.likertButton3 {
  background-image: url(./images/button_neutral.png);
}

.likertButton4 {
  background-image: url(./images/button_agree.png);
}

.likertButton5 {
  background-image: url(./images/button_strongly_agree.png);
}

.likertButton {
  width: 40px;
  height: 40px;
  background-size: contain;
  overflow: hidden;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .likertButton {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 220px) {
  .likertButton {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

.likertButton:first-child {
  margin-left: 0;
}

.likertButtonDimmed {
  opacity: 0.3;
}
